/* *********** mobil ************** */

/* *********** pc ************** */
@media (min-width: 1200px) {
  /* *********** min computer ************** */
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
