/* *********** mobil ************** */

/* *********** pc ************** */
/* ***** min computer ***** */
@media (min-width: 1200px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* ***** index ***** */
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    order: -1;
  }
  .dl_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* ***** opperativ ***** */
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .order {
      order: -1;
    }
  }
  /* ***** komp ***** */
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .flex_col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* ***** gal ***** */

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .gal1 {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: baseline;
    object-fit: fill;
  }
  .gal6 {
    grid-column: 3/5;
    grid-row: 2/3;
    align-self: baseline;
    object-fit: fill;
  }
  .gal4 {
    grid-column: 2/5;
    align-self: baseline;
    object-fit: fill;
  }
  .gal5 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: baseline;
    object-fit: fill;
  }
}
