/* *********** mobil ************** */

/* *********** pc ************** */
/* ***** min computer ***** */
@media (min-width: 1200px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* ***** index ***** */
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    order: -1;
  }
  .dl_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* ***** opperativ ***** */
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;
  }
  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .order {
      order: -1;
    }
  }
  /* ***** komp ***** */
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .flex_col > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .flex_col > div:first-child img {
    order: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .flex_col h2,
  .flex_col h3,
  .flex_col p {
    margin-bottom: 10px;
  }

  .flex_col > div:last-child,
  .flex_col > img:last-child {
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .flex_col > img:first-of-type {
    order: -2;
  }
  /* ***** gal ***** */

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid__1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    align-items: start;
  }

  .grid__1-1 > div:first-child {
    text-align: left;
  }

  .grid__1-1 > div:last-child {
    grid-column: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .gal_text {
    max-width: 65ch;
    margin: 0 auto;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 300px;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .gal1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 100%;
  }
  .gal2 {
    grid-column: 3;
    grid-row: 1;
  }
  .gal3 {
    grid-column: 4;
    grid-row: 1;
  }
  .gal6 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .gal5 {
    grid-column: 1;
    grid-row: 3;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .gal4 {
    grid-column: 2 / span 3;
    grid-row: 3;
    height: 300px;
  }

  .grid_1-1-1-1 img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
